#!/usr/bin/env bash

alias y=youtube-dl
alias n=nehm
alias gometalinter="gometalinter -D 'vetshadow' -E 'misspell' -E 'unparam' -E 'unused' --cyclo-over=15 --deadline=2m --vendor"

# ls
export LSCOLORS=ExFxCxDxBxegedabagacad
alias ls="ls -G"
alias lsa="ls -a" # all files inc dotfile
alias lsl="ls -lF" # all files, in long format
alias lsla="ls -laF" # all files inc dotfiles, in long format

# Quicker navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Always enable colored `grep` output and exclude .git dir
alias grep='grep --color=auto --exclude-dir .git'

# Get week number
alias week='date +%V'

# Open url of origin remote git repo
alias origin='git remote get-url origin | xargs open'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"
