#!/usr/bin/env bash

alias ag="ag --ignore-dir node_modules --ignore-dir temp -U"
alias cat="bat --theme=GitHub --style=header"
alias cloc="cloc --exclude-dir=node_modules,static,vendor"
alias fzf="fzf --query='!node_modules !temp !.DS_Store !.lock$ ' --height 30% --border"
alias gometalinter="gometalinter -D 'vetshadow' -E 'misspell' -E 'unparam' -E 'unused' --cyclo-over=15 --deadline=2m --vendor"
alias n="nehm"
alias ping="prettyping --nolegend"
alias rm="safe-rm"
alias rt="trash"
alias youtube-dl="youtube-dl --buffer-size=16K --no-playlist -o '~/Downloads/%(title)s.%(ext)s'"
alias y720="youtube-dl -f 'bestvideo[height<=720]+bestaudio/best[height<=720]'"
alias y="youtube-dl -f 'bestvideo[height<=480]+bestaudio/best[height<=480]'"
alias vim="nvim"

# ls
export LSCOLORS=ExFxCxDxBxegedabagacad
alias ls="ls -Gh"
alias lsa="ls -a" # all files inc dotfile
alias lsl="ls -lF" # all files, in long format
alias lsla="ls -laF" # all files inc dotfiles, in long format

# Quicker navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Always enable colored `grep` output and exclude .git and node_modules dir
alias grep='grep --color=auto --exclude-dir .git --exclude-dir node_modules --exclude-dir temp'

# Get week number
alias week='date +%V'

# Open url of origin remote git repo
alias origin='git remote get-url origin | xargs open'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

