#!/usr/bin/env bash

alias cat="bat --theme=GitHub --style=grid,header"
alias fd="fd  -E=node_modules -E=temp -E=.DS_Store -E=.lock$ --no-ignore-vcs"
alias rm="safe-rm"
alias rt="trash"
alias sed="gsed"

# ls
export LSCOLORS=ExFxCxDxBxegedabagacad
alias ls="ls -Gh"
alias lsa="ls -A" # all files inc dotfile
alias lsl="ls -lF" # all files, in long format
alias lsla="ls -lAF" # all files inc dotfiles, in long format

# Quicker navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Open url of origin remote git repo
alias origin='git remote get-url origin | xargs open'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

