#!/usr/bin/env bash

# Set locale.
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Make vim the default editor.
export EDITOR=vim

# Ignore duplicates and ls, bg ,fg, exit in history.
export HISTCONTROL="ignoredups"
export HISTIGNORE="&:ls:[bf]g:exit"

# Increase Bash history size. Allow 10000 entries; the default is 500.
export HISTSIZE='10000';
export HISTFILESIZE="${HISTSIZE}";
