[alias]
	# View abbreviated SHA, description, time, author and history graph of the latest 15 commits
	l = "log --pretty=format:'%Cblue%h%Creset %C(bold)%s%Creset %n    at %cD by %an%n' -n 15 --graph"

	# View the current working tree status using the short format
	s = status -s

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD --; git diff --patch-with-stat"

	# Pull in remote changes for the current repository and all its submodules
	pu = !"git pull; git submodule foreach git pull origin master"

	# Clone a repository including all submodules
	c = clone --recursive

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# Show stat
	stat = diff --stat

	a = add
	ch = checkout
	co = commit

  # Used for golang contribution
	change = codereview change
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	excludesfile = ~/.gitignore

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

[diff "bin"]
	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C
